@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0035c6;
  }
  .logoast{
    position: absolute;
    margin-left: -400px;
    margin-top: 250px;
    width: 600px;
    height: 300px;
  }
  .wrapper{
    margin: auto;
    height: 550px;
    width: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
  }
